.plus {
    height: 60px;
    width: 60px;
    font-size: 40px;
    font-weight: 300;
    color: #dff0d8;
    background: #008080;
    border: 0 none;
    border-radius: 50%;
}

.name {
    border: 0px solid white;
    border-bottom: 2px solid grey;
    border-radius: 0px;
    background-color: #f5f5f5;
    
}
