<form (ngSubmit)="onSubmit()" #createForm="ngForm">
        <div>
            <input type="text" class="form-control name" placeholder="Enter name" [(ngModel)]="userName" name=userName>
        </div>
        
        <div class="row">
            <app-gameItem *ngFor="let game of games" [game] = game></app-gameItem>
        </div>
        
        <div class="row">
            <button type="submit" class="plus pull-right">+</button>
        </div>
</form>
