<div class="container-fluid">
    <form method="post" class="form-signin" role="form">
        <div class="container-fluid field">
            <router-outlet></router-outlet>
        </div>
    </form>    
</div>


