.canvas {
    width: 400px;
}

.viewMode {
    color: #777!important;
}

.field {
    margin-bottom: 20px;
    margin-top: 20px;    
}
.move {
    border-bottom: 2px solid black;
}
.game {
    text-align: center;
}
.surrender {
    height: 40px;
    width: 130px;
    background: #008080;
    font-size: 13px;
    color: #dff0d8;
}

.name {
    margin-bottom: 0px;
}

.cross-mark {
    color: #777;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}

.zero-mark {
    color: #5b9ade;
    margin-right: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}

div p {
    font-size: 18px;
}

.outer:before {
    display: inline-block;
}

.outer {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.timer {
     display: inline-block;
}

