<div class="canvas center-block" [ngClass]="{'viewMode': isViewMode}">
    
    <div class="pull-left" [ngClass]="{'move': moveOwner}">
        <p  class="pull-left name" name=owner >{{gameOwner}}</p>
        <p class="cross-mark pull-right" [ngClass]="{'viewMode': isViewMode}">✕</p>
    </div>
    
    <div class="pull-right" [ngClass]="{'move': moveOpponent}">
        <p class="pull-right name" name=opponent >{{gameOpponent}}</p>
        <p class="zero-mark pull-left" [ngClass]="{'viewMode': isViewMode}">O</p>
    </div>  
    
    <div class="clearfix"></div>
    
    <div class="field">
        <canvas (click)="makeMove($event)" height='300' width='300' id='canvas' class="center-block"></canvas>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="outer" id='timer'></div>
    
    <div class="clearfix"></div>
    
    <div>
        <input type="submit" id="SURRENDER" (click)="surrender()" class="center-block surrender" value="SURRENDER">
    </div>
    
</div>  