<div [ngClass]="{'playing': statePlaying, 'done': stateDone,  'ready': stateReady}" class="col-sm-3 game-element" (click)="secondPlayerComeInTheGame($event)" data-id="{{game.token}}">
    
    <div [ngClass]="{'winner': ownerWin, 'losser': ownerLoss}">
       <p class="pull-left">{{game.owner}}</p>
       <p [ngClass]="{'invisible': invisibleOwner}" class="pull-right">✔</p> 
    </div>
    
    <div class="clearfix"></div>
    
    <div [ngClass]="{'winner': opponentWin, 'losser': opponentLoss}">
        <p class="pull-left">{{game.opponent}}</p>
        <p [ngClass]="{'invisible': invisibleOpponent}" class="pull-right">✔</p> 
    </div>
    
    <div class="clearfix"></div>

    <div class='gameTimer pull-right' id='{{game.token}}'>{{game.hour}}:{{game.minute}}:{{game.second}}</div>
</div>