.col-sm-3 {
    position:relative;
    height: 100px;
    margin: 10px;
    color: #ddd;
    font-weight: bold;
}

.ready {
    background-color: #777;
}

.playing {
    background-color: #b1adad!important;
}

.done {
    background-color: #ddd!important;
}

.winner {
    color: #f0ad4e!important;
}

.losser {
    color: black!important;
}

.gameTimer {
    position: absolute;
	bottom: 0;
	right: 3px;
    color: black!important;
    font-weight: normal;
    font-size: 11px;
}

.invisible {
    display: none;
}
